.contact-book-0-1-modal {
  width: 1000px;
  height: auto;
}
.modal-header {
  color: #ffffff;
  font-size: 36px;
}
.cbm-title {
  width: 30%;
  padding: 4px 16px;
  background-color: #4FBCFB;
}
.section-shadow {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 8px;
}
.tips-in-block {
  padding-left: 14px;
  padding-right: 14px;
}
.border-1 {
  border:1px solid #D9D9D9;
}
.border-bottom {
  border-bottom: 1px solid #D9D9D9;
}
.parent-sign-img {
  max-width: 50%;
}

  /* jQuery 操作用 */
  .hide {
    display: none;
  }